<!DOCTYPE html>
<head>
	<title>Forgot Password</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="__CSS__/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="__CSS__/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="__CSS__/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">找回密码</h1>
			<form class="form-horizontal templatemo-forgot-password-form templatemo-container" role="form" action="{:url('index/modifypassword')}" method="post">	
				<div class="form-group">
		          <div class="col-md-12">
		          	请输入您注册时填写的邮箱号
		          </div>
		        </div>		
		        <div class="form-group">
		          <div class="col-md-12">
		            <input type="text" class="form-control" id="password" name="email" placeholder="Your email">	            
                  </div>             
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		            <input type="submit" value="获取验证码" class="btn btn-danger">
								<script type="text/javascript">
var wait=60;
function time(o) {
		if (wait == 0) {
			o.removeAttribute("disabled");			
			o.value="免费获取验证码";
			wait = 60;
		} else {
			o.setAttribute("disabled", true);
			o.value="重新发送(" + wait + ")";
			wait--;
			setTimeout(function() {
				time(o)
			},
			1000)
		}
	}
document.getElementById("btn").onclick=function(){time(this);}
</script>
                    <br><br>
                    <a href="{:url('index/login1')}">返回登录界面</a> 
		          </div>
		        </div>
		      </form>
		</div>
	</div>
</body>
</html>