<!DOCTYPE html>
<head>
	<title>Forgot Password</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="__CSS__/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="__CSS__/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="__CSS__/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
        <script language="javascript">
                function CheckPost ()
                {
                     if (modifypassword.checkcode.value != {$rand})
                   {
                       alert("验证码错误");
                       return false;
                   }
                   if (modifypassword.password.value==""){
                       alert("密码为空");
                       return false;
                   }
                   if (modifypassword.password2.value!=modifypassword.password.value){
                       alert("两次密码不同");
                       return false;
                   }
                  return true;
                }
        </script>
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">密码重置</h1>
            <form class="form-horizontal templatemo-forgot-password-form templatemo-container" role="form" 
            name="modifypassword" 	onsubmit="return  CheckPost();"
            action="{:url('index/check3')}" method="post">	
                <input type="hidden" id="email" name="email"  value={$email}>
                <div class="form-group">
		          <div class="col-md-12">
                      请输入您收到的验证码： <br>
                        <input type="text" class="form-control" id="checkcode" name="checkcode" >	            
                      </div>
		        </div>		
		        <div class="form-group">
		          <div class="col-md-12">
		            新密码： <br><input type="text" class="form-control" id="password" name="password"  >	            
                  </div>
                  <br><br><br>
                  <div class="col-md-12">
		            再次输入: <br><input type="text" class="form-control" id="password2" name="password2" >	            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		            <input type="submit" value="提交" class="btn btn-danger">
                    <br><br>
                    <a href="{:url('admin/login/login')}">返回登录界面</a> 
		          </div>
		        </div>
		      </form>
		</div>
	</div>
</body>
</html>