<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>个人博客系统</title>
<meta name="keywords" content="tp5个人博客模板" />
<meta name="description" content="tp5个人博客" />
<link href="__CSS__/base2.css" rel="stylesheet">
<link href="__CSS__/index2.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav"><a href="{:url('index/index')}"><span>首页</span><span class="en">Protal</span></a><a href="{:url('aboutme')}"><span>关于我</span><span class="en">About</span></a><a href="{:url('admin/entry/inPage')}"><span>留言版</span><span class="en">Gustbook</span></a>
    
    {$static}
</header>
<div class="banner">
  <section class="box">
    <ul class="texts">
      <p>谁提笔只两行</p>   
        <p>换一隅你安康</p>  
        <p>便销得这沧桑</p>   
        <p>你还在我的心上</p>
    </ul>
    <div class="avatar"><a href="#"><span>yeleng</span></a> </div>
  </section>
</div>
<div class="template">
  <div class="box">
    <h3>
      <p><span>Good</span> Picture</p>
    </h3>
    <ul>
      <li><img src="__STATIC__/images/p01.jpg"></a></li>
      <li><img src="__STATIC__/images/t02.jpg"></a></li>
      <li><img src="__STATIC__/images/p03.jpg"></a></li>
      <li><img src="__STATIC__/images/p04.jpg"></a></li>
      <li><img src="__STATIC__/images/t01.jpg"></a></li>
      <li><img src="__STATIC__/images/p06.jpg"></a></li>
    </ul>
  </div>
</div>

<footer>
  <p>Design by yeleng <a href="http://blog.csdn.net/qq_36124802" target="_blank">http://blog.csdn.net/qq_36124802</a> <a href="/">咸鱼</a></p>
</footer>
<script src="js/silder.js"></script>
</body>
</html>
