
<!DOCTYPE html>
<html lang="zh_CN" style="overflow: hidden;">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>blog 后台管理中心</title>

    <meta name="description" content="This is page-header (.page-header &gt; h1)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/cmf/public/themes/admin_simpleboot3/public/assets/themes/flatadmin/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/simplebootadmin.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?page=index" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__CSS__/simplebootadminindex.min.css">
    <style>
        /*-----------------导航hack--------------------*/
        .nav-list > li.open {
            position: relative;
        }

        .nav-list > li.open .back {
            display: none;
        }

        .nav-list > li.open .normal {
            display: inline-block !important;
        }

        .nav-list > li.open a {
            padding-left: 7px;
        }

        .nav-list > li .submenu > li > a {
            background: #fff;
        }

        .nav-list > li .submenu > li a > [class*="fa-"]:first-child {
            left: 20px;
        }

        .nav-list > li ul.submenu ul.submenu > li a > [class*="fa-"]:first-child {
            left: 30px;
        }

        /*----------------导航hack--------------------*/
    </style>

    <script>
        //全局变量
        var GV = {
            HOST: "localhost",
            ROOT: "/cmf/public/",
            WEB_ROOT: "/cmf/public/",
            JS_ROOT: "static/js/"
        };
    </script>
            <style>
            #think_page_trace_open {
                left: 0 !important;
                right: initial !important;
            }
        </style>
    
</head>

<body style="min-width:900px;overflow: hidden;">
<div id="loading"><i class="loadingicon"></i><span>正在加载...</span></div>
<div id="right-tools-wrapper">
    <!--<span id="right_tools_clearcache" title="清除缓存" onclick="javascript:openapp('/cmf/public/admin/setting/clearcache.html','right_tool_clearcache','清除缓存');"><i class="fa fa-trash-o right_tool_icon"></i></span>-->
    <!--<span id="refresh-wrapper" title="REFRESH_CURRENT_PAGE"><i-->
            <!--class="fa fa-refresh right_tool_icon"></i></span>-->
</div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{:url('entry/article_list')}" class="navbar-brand" style="min-width: 200px;text-align: center;">博客后台控制系统</a>
            <a href="{:url('index/index/index')}" class="navbar-brand" style="min-width: 200px;text-align: center;">博客首页</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right simplewind-nav">
                <li class="light-blue" style="border-left:none;">
                    <a id="refresh-wrapper" href="{:url('entry/index')}" title="REFRESH_CURRENT_PAGE" style="color:#fff;font-size: 16px">
                        <i class="fa fa-refresh right_tool_icon"></i>
                    </a>
                </li>
                <li class="light-blue dropdown" style="border-left:none;">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                                    <img class="nav-user-photo" width="30" height="30"
                                 src="/cmf/public/themes/admin_simpleboot3/public/assets/images/logo-18.png" alt="admin">
                                                <span class="user-info">
								欢迎, {:session('username')}						</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                                                    <li>
                                <a href="{:url('index/index/geren',['username'=>session('username')])}"><i class="fa fa-cog"></i> 个人博客</a></li>
                              <li>
                                <a href="{:url('entry/info')}"><i class="fa fa-user"></i> 修改信息</a></li>
                              <li>
                                <a href="{:url('entry/pass')}"><i class="fa fa-lock"></i> 修改密码</a></li>
                              <li><a href=""><i class="fa fa-sign-out"></i> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container container-fluid">

    <div class="sidebar" id="sidebar">
        
        <div id="nav-wrapper">
            <ul class="nav nav-list">
                        <li>
                        <a href="#" class="dropdown-toggle">
                <i class="fa fa-cogs normal"></i>
                <span class="menu-text normal"> 文章管理 </span>
                <b class="arrow fa fa-angle-right normal"></b>
                <i class="fa fa-reply back"></i>
                <span class="menu-text back"></span>
            </a>

            <ul class="submenu">
                    <li>
                            <a href="{:url('article_list')}">
                        <i class="fa fa-caret-right"></i>
                        <span class="menu-text">文章列表</span>
                    </a>
                </li>
                    <li>
            <li>
                <a href="{:url('article_add')}">
            <i class="fa fa-caret-right"></i>
            <span class="menu-text">文章添加</span>
        </a>
    </li>
        <li>
                <a href="{:url('article_deleted')}">
            <i class="fa fa-caret-right"></i>
            <span class="menu-text">回收站</span>
        </a>
    </li>
                </ul>
        </li>
                <li>
                        <a href="#" class="dropdown-toggle">
                <i class="fa fa-group normal"></i>
                <span class="menu-text normal"> 用户管理 </span>
                <b class="arrow fa fa-angle-right normal"></b>
                <i class="fa fa-reply back"></i>
                <span class="menu-text back"></span>
            </a>

            <ul class="submenu">

    <li>
                            <a href="{:url('entry/info')}" class="dropdown-toggle">
                        <i class="fa fa-caret-right"></i>
                        <span class="menu-text">
                                                个人信息修改								</span>
                    </a>
    </li>
    <li>
                <a href="{:url('entry/pass')}" class="dropdown-toggle">
            <i class="fa fa-caret-right"></i>
            <span class="menu-text">
									密码修改								</span>
        </a>
    </li>
    
    <li>
            <a href="{:url('entry/modify_power')}" class="dropdown-toggle">
        <i class="fa fa-caret-right"></i>
        <span class="menu-text">
                               权限修改								</span>
                               
    </a>
</li>


                </ul>
            
        </li>

                <li>
                    

            <ul class="submenu">
     

                </ul>
            
        </li>

                <li>
                        <a href="{:url('inPage')}" class="dropdown-toggle">
                <i class="fa fa-th normal"></i>
                <span class="menu-text normal"> 友链管理 </span>
                <b class="arrow fa fa-angle-right normal"></b>
                <i class="fa fa-reply back"></i>
                <span class="menu-text back"></span>
            </a>

            <ul class="submenu">
                    <li>
                <a href="" class="dropdown-toggle">
            <i class="fa fa-caret-right"></i>
            <span class="menu-text">
									友链管理								</span>
        </a>
    </li>
    
    <li>
            <a href="{:url('inPage')}" class="dropdown-toggle">
        <i class="fa fa-caret-right"></i>
        <span class="menu-text">
                                    友链删除								</span>
    </a>
</li>


                </ul>
            
        </li>

                    </ul>
        </div>

    </div>

    <div class="main-content">
        <div class="page-content" id="content">
                {block name='content'}{/block} 
            <!-- 注意这里的name和等号之间不要加空格       -->
        </div>
    </div>
</div>

<script src="__JS__/jquery-1.10.2.min.js"></script>
<script src="/cmf/public/static/js/wind.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="/cmf/public/static/js/admin.js"></script>
<script src="/cmf/public/themes/admin_simpleboot3/public/assets/simpleboot3/js/adminindex.js"></script>
<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
        $("li.dropdown").hover(function () {
            $(this).addClass("open");
        }, function () {
            $(this).removeClass("open");
        });
    });

    var ismenumin = $("#sidebar").hasClass("menu-min");
    $(".nav-list").on("click", function (event) {
        var closest_a = $(event.target).closest("a");
        if (!closest_a || closest_a.length == 0) {
            return
        }
        if (!closest_a.hasClass("dropdown-toggle")) {
            if (ismenumin && "click" == "tap" && closest_a.get(0).parentNode.parentNode == this) {
                var closest_a_menu_text = closest_a.find(".menu-text").get(0);
                if (event.target != closest_a_menu_text && !$.contains(closest_a_menu_text, event.target)) {
                    return false
                }
            }
            return
        }
         var closest_a_next = closest_a.next().get(0);
        if (!$(closest_a_next).is(":visible")) {
            var closest_ul = $(closest_a_next.parentNode).closest("ul");
            if (ismenumin && closest_ul.hasClass("nav-list")) {
                return
            }
            closest_ul.find("> .open > .submenu").each(function () {
                if (this != closest_a_next && !$(this.parentNode).hasClass("active")) {
                    $(this).slideUp(150).parent().removeClass("open")
                }
            });
        }
         if (ismenumin && $(closest_a_next.parentNode.parentNode).hasClass("nav-list")) {
             return false;
          }
         $(closest_a_next).slideToggle(150).parent().toggleClass("open"); //这句话实现下拉按钮
        return false;
    });
</script>
</body>
</html>
